.header{
  display: flex;
  align-items: center;

  a{
    display: flex;
    align-items: center;
    text-decoration: none;

    .logo{
      max-height: 32px;
    }
  }

  .title-group{
    margin-left: 2rem;

    i{
      margin-right: 0.5rem;
    }
  }
}